
@media screen and (min-width: 768px) {
  .ant-carousel .slick-slide {
    height: 550px;
    width: 100%;
    background: #364d79;
    background-image: linear-gradient(250deg, #36859d 10%, #7abe95 100%);
    overflow: hidden;
  }

  .ant-carousel-vertical .slick-dots {
    margin-right: 70px;
  }

  .ant-carousel .slick-slide img {
    height:  550px;
  }

  .ant-carousel .slick-vertical .slick-slide {
    border:none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
  }

  .ant-carousel-vertical .slick-dots li.slick-active button,
  .ant-carousel-vertical .slick-dots li button {
    background-color: transparent;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    opacity: 1;
  }

  .ant-carousel-vertical .slick-dots li button {
    border: 1px solid #ffffff;
  }

  .ant-carousel-vertical .slick-dots li.slick-active button {
    border: 1px solid #f8be50;
  }
}

@media screen and (max-width: 768px) {
  .carousel-wrap {
    height: 250px;
  }

  .slick-slide img {
    height:  250px;
  }
}

.carousel-wrap {
  width: 100%;
  display: block;
  overflow: hidden;
}