/*.side__menu {
  width: 0px;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  padding-top: 101px;
  z-index: 9;
  background-color: #dbdbdb;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.side__menu  {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.sidebar__layout {
  position: relative;
}

.active__layout .side__menu {
  width: 100%;
}

.__link {
  position: fixed;
  display: block;
  top: 85px;
  left: 150px;
  background: red;
  font-size: 10px;
  z-index: 9;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}
*/