/* Modal Image
===========================================================*/
.vertical-center-modal img {
  max-height: 80vh;
}

.ant-modal {
  top: 50px;
}

.ant-modal-content {
  background-color: transparent;
}

.ant-modal-close {
  color: #fddf80;
}

.ant-modal-close:hover {
  color: #36859d;
}

/* Rating Stars
==================================================================*/
.ant-rate {
  color: #fddf80;
  font-size: 16px;
}

.rate-demo-wrp {
  margin-bottom: 16px;
}

/* Album  styles
================================================================*/
.product-page-img-wrap {
  width: 300px;
  height: 400px;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .product-page-img-wrap {
    background-size: cover;
  }
}

.product-page-img-btn {
  width: 130px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.75);
  margin-bottom: 70px;
  color: #343434;
}

.product-page-img-icon {
  padding-left: 16px;
}

/* Description styles
===============================================================*/
.product-info-wrap {
  padding-left: 32px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .product-info-wrap {
    margin: 32px 0;
  }
}

.product-page-title {
  font-size: 28px;
  color: #343434;
  font-weight: 600;
}

.product-page-metas {
  font-size: 15px;
  font-weight: 700;
}

.product-current-price {
  color: #343434;
}

.product-current-descptn {
  border-width: 1px 0;
  border-color: #b3afaf;
  border-style: solid;
  margin: 0px 8px 32px 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}

.product-refinement-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.product-refinement-form > div {
  margin-right: 32px;
  margin-bottom: 16px;
}

.product-refinement-title {
  padding-right: 8px;
  padding-left: 8px;
  color: #343434;
  font-weight: 600;
}

.product-share-icons {
  width: 100%;
  margin: 0px 10px;
}

.product-share-icons > header {
  font-size: 16px;
  color: #343434;
  font-weight: 700;
  margin-bottom: 16px;
}

.product-share-icons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
}

.product-share-icons > div > button {
  width: 40px;
  height: 40px;
  padding: 0 4px;
  background-color: #575755;
  color: #fff;
}

.product-share-icons > div > button:first-child {
  background-color: #7abe95;
}

.product-related-product-wrap {
  padding: 0 16px;
}

.product-related-product {
  border-bottom: 2px solid #dbdbdb;
  font-size: 16px;
  font-weight: 600;
  color: #343434;
  margin-bottom: 32px;
  padding-bottom: 16px;
}

.product-related-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-related-wrap > div {
  margin-bottom: 32px;
  position: relative;
  border: 1px solid #dbdbdb;
  text-align: center;
}

.product-related-wrap > div:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 1100px) and (max-width: 2000px) {
  .product-related-wrap > div {
    width: calc((100% / 5) - 24px);
    margin-right: 12px;
  }

  .product-related-wrap {
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .product-related-wrap > div {
    width: calc((100% / 4) - 24px);
    margin-right: 12px;
  }
}

@media screen and (min-width: 630px) and (max-width: 900px) {
  .product-related-wrap > div {
    width: calc((100% / 3) - 16px);
    margin-right: 8px;
  }
}

@media screen and (min-width: 460px) and (max-width: 630px) {
  .product-related-wrap > div {
    width: calc((100% / 2) - 16px);
    margin-right: 8px;
  }
}

@media screen and (min-width: 460px) {
  .product-related-wrap > div {
    height: 330px;
  }
}

@media screen and (max-width: 460px) {
  .product-related-wrap > div {
    width: calc(100% - 8px);
    margin-right: 4px;
    min-height: 330px;
  }

  .product-related-wrap {
    justify-content: space-between;
  }
}

.product-related-wrap > div > a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.product-related-image {
  display: block;
  width: 100%;
  height: 80%;
  background-color: #dbdbdb;
  background-size: cover;
}

.product-related-name {
  display: block;
  width: 100%;
  height: 20%;
  padding: 8px 4px;
}

.product-related-name > span {
  display: block;
  color: #343434;
  font-size: 14px;
  font-weight: 600;
}

.product-related-name > span:last-child {
  font-weight: 700;
}

/* Tabs
================================================*/
.tabs-wrap {
  padding: 0 16px;
  margin-bottom: 32px;
}

.ant-tabs-nav .ant-tabs-tab-active {
  font-weight: 600;
}

.ant-tabs-ink-bar {
  background-color: #000;
  height: 3px;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 20px 16px;
}

/* Media Queries
============================================================*/
@media screen and (min-width: 990px) {
  .row-album-wrap {
    padding: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .row-album-wrap {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .product-page-title {
    margin-bottom: 16px;
  }

  .product-page-img-div {
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: flex-end;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .product-page-metas {
    margin-bottom: 8px;
  }

  .product-page-metas span {
    padding-right: 16px;
  }

  .product-sheet-review {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 768px) {
  .product-refinement-title {
    display: block;
    padding-bottom: 16px;
  }

  .product-refinement-form {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .product-sheet-review {
    padding: 8px;
  }

  .product-page-metas {
    margin: 16px 8px;
  }

  .product-current-descptn,
  .product-page-title {
    margin: 16px 8px;
  }

  .product-page-img-div {
    padding-right: 16px;
    padding-left: 16px;
  }
}